{% extends "base.html" %}
{% block title %}Edit Company Details{% endblock %}
{% block navigation %}
	<a href="/company/edit/{{company.id}}">Edit Company Details</a>
{% endblock navigation %}
{% block content %}
    <div class="profile-content">
    <h3> {{ company.name }}'s Details</h3>
    	<div class="profile-field-label">Name: </div>
		<div class="profile-field-value">{{ company.name }}</div>
		<div class="profile-field-label">Revenue:</div>
		<div class="profile-field-value">{{ company.revenue }}</div>
		<div class="profile-field-label">Head Count:</div>
		<div class="profile-field-value">{{ company.head_count }}</div>
		<div class="profile-field-label">Head Quarters:</div>
		<div class="profile-field-value">{{ company.headquarters }}</div>
	<h3>Contact Details</h3>
		<div class="profile-field-label">Address Line 1:</div>
		<div class="profile-field-value">{{ addr.address_line1 }}</div>
		<div class="profile-field-label">Address Line 2:</div>
		<div class="profile-field-value">{{ addr.address_line2 }}</div>
		<div class="profile-field-label">Address Line 3:</div>
		<div class="profile-field-value">{{ addr.address_line3 }}</div>
		<div class="profile-field-label">Area:</div>
		<div class="profile-field-value">{{ addr.area }}</div>
		<div class="profile-field-label">City:</div>
		<div class="profile-field-value">{{ addr.city }}</div>
		<div class="profile-field-label">State:</div>
		<div class="profile-field-value">{{ addr.state }}</div>
		<div class="profile-field-label">Country:</div>
		<div class="profile-field-value">{{ addr.country }}</div>
		<div class="profile-field-label">Pincode:</div>
		<div class="profile-field-value">{{ addr.pincode }}</div>
		<div class="profile-field-label">Phone:</div>
		<div class="profile-field-value">{{ addr.phone }}</div>
		<div class="profile-field-label">Website:</div>
		<div class="profile-field-value">{{ addr.website }}</div>
		<div class="profile-field-label">Blog:</div>
		<div class="profile-field-value">{{ addr.blog }}</div>
	</div>
{% endblock content %}

